#app,html,body {
    height: 100%;
}

$area-space : 20px;

%default-theme-button  {
    border: 1px solid blue;
    border-radius: 20px;
    padding:8px 25px;
}
.round-button-outline {
    @extend %default-theme-button;
    color: blue;
    background-color: white;
}
.round-button-outline:hover {
    color: white;
    background-color: blue;
    transition: 0.4s;
}
.round-button-primary {
    @extend %default-theme-button;
    background-color: #1943EF;
    color: white;
}
.round {
    position: absolute;
    width: 80px;
    height: 80px;
    border: solid 15px #F26A36; 
    border-radius: 40px;
    top: -38px;
    left: 34%;
    z-index: 1;   
}
body {
    .header-top {
        padding: 8px 0;
        background-color: #f9fafb;
    }
    .first-area {
        background-color: aquamarine;
    }
    .second-area {
        margin-top: $area-space*2;
        img {
            width: 100%;
        }
    }
    .third-area {
        margin-top: $area-space*3;
        h1 {
            text-align: center;
        }
        .row {
            margin-top: $area-space*2;
            div {
                display: flex;
                justify-content: center;    
                .box {
                    width: 95%;
                    background-color: darkgray;
                    border-radius: 5px;
                    a {
                        text-align: center;
                    }
                }
                .box:hover {
                    background-color: #F26A36;
                }
            }
        }
    }
    .pac-logo::after {
        display: none;
    }
    .pac-container {
        font-family: var(--bs-body-font-family);
        .pac-item {
            transition: 0.7s;
            .pac-item-query {
                transition: 0.7s;
                font-size: 16px;
            }
        }
        .pac-item:hover {
            background-color: #ffc300;
            // color: white;
        }
    }
    footer {
        margin-top: $area-space*2;
        ul {
            list-style: none;
            li {
                a {
                    text-decoration: none;
                    // color: black;
                }
            }
        }
    }
}